[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mimesis = "*"
requests = "==2.21.0"
"beautifulsoup4" = "*"
python-decouple = "*"
feedgen = "*"
transliterate = "*"
dateparser = "*"
tinytag = "*"
coverage = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
